mat-card{
    width: 280px;
    height: auto;
    display: flex;
}

img{
    width: 100%;
    position: relative;
    left: 0px;
    top: -10px;
}
button:hover{
    background: rgb(247, 97, 97);
}

//separacion de 4 tarjetas por fila
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre las tarjetas */
  }
  
  mat-card {
    flex: 1 1 calc(25% - 16px); /* Cada tarjeta ocupa el 25% del contenedor (4 por fila) */
    box-sizing: border-box;
  }

.boton1,
.boton2{
  padding: 8px 16px;
  margin-right: 10px; 
  width: 90px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

.boton3,
.boton4{
  padding: 8px 12px;
  margin-right: 10px; 
  position: relative;
  top: 16px;
  width: 200px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

.boton1,
.boton4 {
  background: rgb(33, 83, 247);
}

.boton2 {
  background: rgb(252, 27, 27);
}

.boton3 {
  background: rgb(5, 221, 5);
}

.boton1:hover,
.boton4:hover{
  background: rgb(59, 102, 245);
}

.boton2:hover{
  background: rgb(243, 47, 47);
}

.boton3:hover{
  background: rgb(41, 238, 41);
}
