.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}

mat-card {
  width: calc(25% - 16px); // 4 por fila, con espacio de 16px entre ellas
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 16px 0;
}

img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 8px;
}

mat-card-content {
  padding: 8px;
}

.boton1,
.boton2 {
  padding: 8px 16px;
  margin-right: 10px;
  position: relative;
  top: 10px;
  width: 110px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.boton3,
.boton4 {
  padding: 8px 12px;
  margin-right: 10px;
  position: relative;
  top: 16px;
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

.boton1,
.boton4 {
  background: rgb(33, 83, 247);
}

.boton2 {
  background: rgb(252, 27, 27);
}

.boton3 {
  background: rgb(5, 221, 5);
  margin-right: 30px;
}

button:hover {
  opacity: 0.9;
}

.boton1:hover,
.boton4:hover {
  background: rgb(59, 102, 245);
}

.boton2:hover {
  background: rgb(243, 47, 47);
}

.boton3:hover {
  background: rgb(41, 238, 41);
}

.jeje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.busqueda{
  display: flex;
}

.input {
  border: 2px solid transparent;
  width: 28em;
  height: 2.8em;
  padding-left: 0.8em;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}