<div class="card-container">  
    <mat-card appearance="outlined">
        <img mat-card-image src="">
        <mat-card-content>
            <h3>Nombre</h3>
            <p><b>Duracion:</b> </p>
            <p><b>Inicio:</b> </p>
            <p><b>Retorno:</b></p>
            <p><b>Costo:</b> </p>
            <p><b>Descripcion:</b> </p>
            <button class="boton1">Editar</button>
            <button class="boton2">Eliminar</button>
        </mat-card-content>
    </mat-card>
</div>

<br><br>

