<h2 mat-dialog-title>Editar tour</h2>

<mat-dialog-content>
    <form [formGroup]="formTour">
        <div class="form-grid">
            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre:</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
                <div [hidden]="name.valid || name.pristine" class="error">
                    <span *ngIf="name.errors?.['required']">El campo es requerido</span>
                </div>
            </div>

            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Imagen:</mat-label>
                    <input matInput formControlName="imagenUrl"/>
                </mat-form-field>
                <div [hidden]="imagenUrl.valid || imagenUrl.pristine" class="error">
                    <span *ngIf="imagenUrl.errors?.['required']">El campo es requerido</span>
                </div>
            </div>

            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Duracion:</mat-label>
                    <input matInput formControlName="duration" />
                </mat-form-field>
                <div [hidden]="duration.valid || duration.pristine" class="error">
                    <span *ngIf="duration.errors?.['required']">El campo es requerido</span>
                </div>
            </div>

            <div class="form-field">
                <mat-form-field appearance="fill">
                <mat-label>Hora de inicio:</mat-label>
                <input matInput [matTimepicker]="timePicker" formControlName="inicio" />
                    <mat-timepicker-toggle matIconSuffix [for]="timePicker"></mat-timepicker-toggle>
                    <mat-timepicker #timePicker></mat-timepicker>
                </mat-form-field>
                <div [hidden]="inicio.valid || inicio.pristine" class="error">
                <span *ngIf="inicio.errors?.['required']">El campo es requerido</span>
                </div>
            </div>

            <div class="form-field">
                <mat-form-field>
                <mat-label>Hora de retorno:</mat-label>
                <input matInput [matTimepicker]="timePickerRetorno" formControlName="retorno">
                <mat-timepicker-toggle matIconSuffix [for]="timePickerRetorno"></mat-timepicker-toggle>
                <mat-timepicker #timePickerRetorno></mat-timepicker>
                </mat-form-field>
      
                <div [hidden]="retorno.valid || retorno.pristine" style="color: red;">
                    <span *ngIf="retorno.errors?.['required']">El campo es requerido</span>
                </div>
            </div>

            <div class="form-field">
                <mat-form-field floatLabel="always">
                <mat-label>Costo de viaje</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price"/>
                <span matTextPrefix>S/.&nbsp;</span>
                <span matTextSuffix>.00</span>
                </mat-form-field>
      
            <div [hidden]="price.valid || price.pristine" style="color: red;">
                <span *ngIf="price.errors?.['required']">El campo es requerido</span>
                <span *ngIf="price.errors?.['min']">Valor minimo: 1</span>
            </div>
      
            </div>

            <div class="textarea">
                <div class="form-field">
                <mat-form-field appearance="fill">
            <mat-label>Ingrese descripción:</mat-label>
            <textarea
                matInput
                formControlName="description"
                placeholder="Ingrese descripción"
                rows="5"
                style="resize: none"></textarea>
            </mat-form-field>
                </div>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button style="background: rgb(243, 29, 29); color: white;" (click)="editar()">
      Guardar cambios
    </button>
    <button mat-flat-button mat-dialog-close style="background: rgb(243, 29, 29); color: white;">Cerrar</button>
</mat-dialog-actions>