<div style="display: flex; justify-content: space-between;">
    <h2 class="title">Reservaciones registradas:</h2>
    <button mat-flat-button (click)="openDialog()" class="boton3">
      Agregar reservacion
    </button>
</div>

<div class="table">
  <table>
      <thead>   
          <th>Nombre completo</th>
          <th>Correo electronico</th>
          <th>DNI</th>
          <th>Destino Turístico</th>
          <th>Hora de inicio</th>
          <th>Fecha de llegada</th>
          <th>Fecha de salida</th>
          <th>Acciones</th>
      </thead>
      <tbody>
  <tr *ngFor="let reserva of reservas">
    <td>{{ reserva.nombre }}</td>
    <td>{{ reserva.email }}</td>
    <td>{{ reserva.dni }}</td>
    <td>{{ reserva.destino }}</td>
    <td style="text-align: center;">{{ reserva.horainicio | date: 'shortTime' }}</td>
    <td style="text-align: center;">{{ reserva.fechallegada | date: 'shortDate' }}</td>
    <td style="text-align: center;">{{ reserva.fechasalida | date: 'shortDate' }}</td>
    <td>
      <button class="boton1">Editar</button>
      <button class="boton2">Eliminar</button>
    </td>
  </tr>
</tbody>
  </table>
</div>