<!--<div style="display: flex; justify-content: center; align-items: center;">
    <h2 class="title">Menu de reservas</h2>
  </div>-->

  <h2 mat-dialog-title>Menu de reservas</h2>
  
  <mat-dialog-content>
    <div class="form-grid">
    <form [formGroup]="formReserva">
      
        <!-- Nombre -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Nombre y apellido:</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <div [hidden]="name.valid || name.pristine" style="color: red;">
            <span *ngIf="name.errors?.['required']">El campo es requerido</span>
          </div>
        </div>
  
        <!-- Email -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <div [hidden]="email.valid || email.pristine" style="color: red;">
            <span *ngIf="email.errors?.['required']">El campo es requerido</span>
            <span *ngIf="email.errors?.['email']">Email no valido</span>
          </div>
        </div>
  
        <!-- Destino -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Destino Turístico</mat-label>
            <mat-select formControlName="destino">
              <mat-option value="one">Libertad Americana (wari)</mat-option>
              <mat-option value="dos">City Tour Tradicional (Huamanga)</mat-option>
              <mat-option value="tres">Aguas Turquesas Millpu</mat-option>
              <mat-option value="cuatro">Laguna Azul (el caribe andino)</mat-option>
              <mat-option value="cinco">Ruta del Inca - Vilcashuaman</mat-option>
              <mat-option value="sies">Piscinas Termales - Colpa</mat-option>
              <mat-option value="siete">Aguas Termales - Pachapupum</mat-option>
              <mat-option value="ocho">Cañones de Qorihuillca - grietas</mat-option>
            </mat-select>
          </mat-form-field>
          <div [hidden]="destino.valid || destino.pristine" style="color: red;">
            <span *ngIf="destino.errors?.['required']">El campo es requerido</span>
          </div>
        </div>
  
        <!-- Hora de inicio -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Hora de inicio</mat-label>
            <input matInput [matTimepicker]="timePicker" formControlName="horainicio" />
            <mat-timepicker-toggle matIconSuffix [for]="timePicker"></mat-timepicker-toggle>
            <mat-timepicker #timePicker></mat-timepicker>
          </mat-form-field>
          <div [hidden]="horainicio.valid || horainicio.pristine" style="color: red;">
            <span *ngIf="horainicio.errors?.['required']">El campo es requerido</span>
          </div>
        </div>
  
        <!-- Fecha de llegada -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de llegada:</mat-label>
            <input matInput [matDatepicker]="arrivalPicker" formControlName="fechallegada" />
            <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalPicker></mat-datepicker>
          </mat-form-field>
          <div [hidden]="fechallegada.valid || fechallegada.pristine" style="color: red;">
            <span *ngIf="fechallegada.errors?.['required']">El campo es requerido</span>
          </div>
        </div>
  
        <!-- Fecha de salida -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de salida:</mat-label>
            <input matInput [matDatepicker]="departurePicker" formControlName="fechasalida" />
            <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
          </mat-form-field>
          <div [hidden]="fechasalida.valid || fechasalida.pristine" style="color: red;">
            <span *ngIf="fechasalida.errors?.['required']">El campo es requerido</span>
          </div>
        </div>
      

    
  
      
    </form>
</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button style="background: rgb(243, 29, 29); color: white;" (click)="procesar()">
      Registrar reserva
    </button>
</mat-dialog-actions>
    
  
